@import "tailwindcss";
@import "tw-animate-css";

/* For Chrome, Safari, and Opera */
/* ::-webkit-scrollbar {
  display: none;
} */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: oklch(0.3303 0.0656 169.69);
  border-radius: 5px;
}

.thumbnail .keen-slider__slide.active {
  @apply ring-2 ring-primary rounded-lg;
}

@custom-variant dark (&:is(.dark *));

/* Add this to your global stylesheet */

/* Disable transitions during theme change to prevent flashing */
.next-themes-prevent-animations * {
  transition: none !important;
}

/* Style the view transitions */
::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0s;
}

::view-transition-old(root) {
  animation: fade-out 500ms ease-in-out;
}

::view-transition-new(root) {
  animation: fade-in 500ms ease-in-out;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-bai-jamjuree: var(--font-bai-jamjuree);
  --font-mono: var(--font-geist-mono);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-badge: var(--badge);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-text: var(--text-color);
  --color-nav: var(--text-nav);
}

:root {
  --radius: 0.625rem;
  --background: oklch(0.955 0.0083 91.48);
  --card: oklch(1 0 0);
  --badge: oklch(0.628 0.2577 29.23);
  --text-color: oklch(0.3303 0.0656 169.69);
  --text-nav: oklch(0.8573 0.0547 93.32);
  --primary: oklch(0.6624 0.113068 194.769);
  --secondary: oklch(0.3303 0.0656 169.69);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --text-color: oklch(0.8573 0.0547 93.32);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(73.572% 0.00435 286.012);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
[data-slot="drawer-content"]::after {
  content: none !important;
}

.shape-1 {
  width: 300px;
  height: 300px;
  top: -100px;
  left: -100px;
}

.shape-2 {
  width: 200px;
  height: 200px;
  bottom: -50px;
  right: -50px;
}

.shape-3 {
  width: 150px;
  height: 150px;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}
